<h1>Galp천es & Estoque</h1>

<% if @warehouses.empty?%>
    <h2>N찾o existem galp천es cadastrados</h2>
<% end %>
<% @warehouses.each do |warehouse| %>
    <h2><%= warehouse.name%></h2>
    <p>c처digo: <%= warehouse.code%></p>
    <p>cidade: <%= warehouse.city%></p>
    <p><%= warehouse.area%> m2</p>
<% end %>